<div class="container-fluid">
  <section class="row">
    <!-- SECTION spell list -->
    <div class="col-12 col-md-3 bg-dark">
      <section class="row" id="api-spells-list"></section>
    </div>
<!-- SECTION active spell -->
    <div class="col-12 col-md-9">
      <div class="row justify-content-center sticky-top" id="active-spell">

        <!-- <div class="card col-11">
          <h1 class="fw-bold text-center">CloudKill </h1>
          <h4 class="text-primary text-center">3 | 60🦶 | 1⏱️</h4>
          <p class="text-center">V S M | A stick of butter</p>
          <hr/>
          <h4>☄️</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, nostrum sed necessitatibus saepe veritatis repudiandae esse commodi magnam consectetur porro distinctio accusamus laborum dolore animi natus quas, error, exercitationem adipisci?</p>
        </div> -->

      </div>
    </div>
  </section>
</div>